# ===============================
# DATABASE - PostgreSQL
# ===============================
spring.datasource.url=jdbc:postgresql://localhost:5432/hybrid_flow
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.datasource.driver-class-name=org.postgresql.Driver

# ===============================
# JPA
# ===============================
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# ===============================
# SERVER
# ===============================
server.port=8080

# ===============================
# EMAIL SERVICE
# ===============================
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=yourEmail@gmail.com
spring.mail.password=yourAppPassword
# got the mail password from "App password" from Google website
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# ===============================
# JWT
# ===============================
jwt.secret=a-string-secret-at-least-256-bits-lone
jwt.access-token-expiration=86400000
#jwt.refresh-token-expiration=86400000

# ===============================
# Github OAuth
# ===============================

spring.security.oauth2.client.registration.github.client-id=XXX
spring.security.oauth2.client.registration.github.client-secret=YYY
spring.security.oauth2.client.registration.github.scope=user:email

# ===============================
# Google OAuth (it won't work) check: https://youtu.be/JUOSHhbbBOY?si=Y01kQswP018gCEmU to complete the configuration of Google Oauth page
# ===============================

spring.security.oauth2.client.registration.google.client-id=XXX
spring.security.oauth2.client.registration.google.client-secret=YYY